@media screen and (max-width: 600px) {
  #line {
    width: 350px;
    font-size: smaller;
  }
  .hero-banner {
    width: 100%;
    justify-content: space-around;
    background-position: 40% 50%;
    padding-bottom: 40px;
    flex-direction: column;
  }
  #heading {
    font-size: medium;
  }
  .section-headings {
    font-size: medium;
  }
  .pricing-card {
    max-width: 93vw;
  }
  .pricing-wrapper {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .grid-container2 {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 250px;
    gap: 10px;
    grid-template-areas:
      "e"
      "a"
      "b"
      "c"
      "d";
  }
  .contact-us {
    padding-left: 0;
  }
}

@media screen and (max-width: 984px) {
  #about {
    grid-template-columns: 800;
    grid-template-areas:
      "a"
      "."
      "b"
      "."
      "c";
  }
  article {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .grid-container {
    display: flex;
    flex-direction: column;
  }
  #about-des {
    display: flex;
  }
  .section-img {
    width: 350px;
  }
  .card-wrapper {
    display: flex;
    flex-direction: column;
  }
  #about-card1,
  #about-card2 {
    width: 90%;
    height: 90%;
  }

  #pricingplan {
    grid-template-columns: 1fr;
    grid-template-rows: 500px auto;
    grid-template-areas:
      "a a"
      "b b";
  }
  .pricing-card {
    width: 600px;
  }
  .pricing-wrapper {
    color: #283739;
    flex-wrap: wrap;
    flex-direction: column;
  }
  #foot-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-rows: 300px 300px 300px 300px;
    grid-template-areas:
      "b"
      "d"
      "c"
      "a";
    height: 100%;
  }

  .SiteMap-container .help .comunity-forum .newsletter {
    border-bottom: 4px solid #a2c11c;
  }
}
@media screen and (max-width: 1031px) {
  .navhead {
    padding-left: 40px;
    justify-content: space-evenly;
    align-items: center;
  }
  #navlist {
    display: none;
    padding: 20px;
    position: absolute;
    top: 50px;
    left: 0;
    width: 30%;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: #283739d7;
    border-radius: 20px;
  }

  #menu-toggle {
    display: none;
  }

  #hamburger img {
    height: 100px;
    width: 100px;
    cursor: pointer;
  }
  #hamburger {
    display: inline-block;
    position: absolute;
    left: 15px;
    cursor: pointer;
  }

  #menu-toggle:checked ~ #navlist {
    display: flex;
    animation: rolling-down 0.5s ease-in-out;
  }

  @keyframes rolling-down {
    0% {
      transform: translatex(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  #navlist li {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 50px;
  }
  #navlist a {
    align-items: center;
    font-size: larger;
    color: white;
  }
  .dropbtn {
    color: white;
  }
  #navlist li:hover {
    background-color: #a2c11c;
    border: 2px solid rgb(159, 155, 155);
    border-radius: 10px;
  }
  .drop-content {
    color: black;
    background-color: #283739;
  }
  .member {
    right: 500px;
  }

  /* responsive section */
  #qualification {
    height: 100%;
    background-size: 50%;
    background-position: 50% 0;
    grid-template-columns: 1fr;
    grid-template-rows: 95px 350px auto;
    grid-template-areas:
      "a"
      "."
      "b";
  }
  .qualification-wrapper {
    height: auto;
    padding-left: 5%;
  }
  #programs {
    height: 100%;
  }
  .programs-wrapper {
    height: 100%;
    padding-bottom: 10%;
  }
  .grid-container2 {
    grid-template-rows: 150px 400px 500px;
  }
  #our-team {
    grid-template-rows: 100px 450px auto;
    grid-template-areas:
      "b b b"
      ". . ."
      "c c c";
    background-size: 50%;
    background-position: 50% 20%;
    padding-bottom: 50px;
  }
  .team-wrapper {
    width: 100%;
    padding-top: 50px;
    flex-wrap: wrap;
    height: auto;
    flex-direction: row;
  }
  .team-card {
    width: 150px;
    height: 450px;
  }
}
