@media screen and (max-width: 600px) {
  .pricing-card {
    max-width: 93vw;
  }
  .pricing-wrapper {
    flex-wrap: wrap;
    flex-direction: column;
  }
}

@media screen and (max-width: 900px) {
  .pricing-card {
    width: 600px;
  }
  .pricing-wrapper {
    flex-wrap: wrap;
    flex-direction: column;
  }
}

@media screen and (max-width: 1031px) {
  .navhead {
    justify-content: space-evenly;
    align-items: center;
  }
  #navlist {
    display: none;
    padding: 20px;
    position: absolute;
    top: 50px;
    left: 0;
    width: 30%;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: #283739d7;
    border-radius: 20px;
  }

  #menu-toggle {
    display: none;
  }

  #hamburger img {
    cursor: pointer;
  }

  #menu-toggle:checked ~ #navlist {
    display: flex;
    animation: rolling-down 0.5s ease-in-out;
  }

  @keyframes rolling-down {
    0% {
      transform: translatex(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  #navlist li {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 50px;
  }
  #navlist a {
    align-items: center;
    font-size: larger;
    color: white;
  }
  .dropbtn {
    color: white;
  }
  #navlist li:hover {
    background-color: #a2c11c;
    border: 2px solid rgb(159, 155, 155);
    border-radius: 10px;
  }
  .drop-content {
    color: black;
    background-color: #283739;
  }
  .member {
    right: 500px;
  }
  #hamburger {
    display: block;
    position: absolute;
    right: 240px;
    cursor: pointer;
  }
  /* responsive section */
  #qualification {
    height: 100%;
    background-size: 50%;
    background-position: 50% 0;
    grid-template-columns: 1fr;
    grid-template-rows: 95px 350px auto;
    grid-template-areas:
      "a"
      "."
      "b";
  }
  .qualification-wrapper {
    height: auto;
    padding-left: 5%;
  }
}
