* {
  margin: 0%;
}

:root {
  --primary-bg: #283739;
  --secondary-bg: #2c5d63;
  --accent-color: #a2c11c;
  --light-bg: #e0e0e0;
}

@font-face {
  font-family: --firstfont;
  src: url(assets/font/VarelaRound-Regular.woff);
}
@font-face {
  font-family: --secondfont;
  src: url(assets/font/Almarai-Regular.woff);
}
@font-face {
  font-family: --secondBold;
  src: url(assets/font/Almarai-Bold.woff);
}
@font-face {
  font-family: --secondLigth;
  src: url(assets/font/Almarai-Light.woff);
}

/* Navbar style */
.navbar {
  display: flex;
  align-items: center;
  margin: 0% auto;
  padding-left: 10px;
  overflow: hidden;
  background-color: var(--light-bg);
  /* Dropdown style */
  .navhead {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
  }
  .dropdown {
    float: left;
    overflow: hidden;
    list-style: none;
    /* Dropdown button style */
    .dropbtn {
      height: auto;
      font-family: --secondFont;
      font-size: larger;
      color: black;
      background-color: inherit;
      border: none;
      outline: none;
      margin: 0%;
      cursor: pointer;
    }
    .list-container {
      width: 250px;
      padding: 10px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      color: white;
    }
    /* Dropdown content style */
    .drop-content {
      display: none;
      position: absolute;
      list-style: none;
      background-color: rgba(255, 255, 255, 0.445);
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 0;

      /* Dropdown list item hover style */
      li a {
        border: 2px solid black;
        width: 100%;
        height: 5px;
        &:hover {
          display: block;
        }
      }
    }

    /* dropdown on hover */
    &:hover .drop-content {
      padding: 10px;
      border-radius: 10px;
      display: block;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      gap: 10px;
    }
    .list-container:hover {
      border-bottom: 3px solid var(--accent-color);
    }
  }
}

#navbar-brand {
  font-family: --secondBold;
  color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#signup {
  font-family: --secondBold;
  font-size: medium;
  background-color: black;
  color: white;
  border-radius: 5px;
  width: 100px;
  height: 40px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
#signup:hover {
  background-color: white;
  color: black;
}
.member {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding-right: 5vw;
  gap: 15px;
}
.navlist {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 800px;
  list-style: none;
}
a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  font-family: --secondfont;
}

/* Banner style */
.hero-banner {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 1000px;
  background-image: url(assets/avatar4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.highlight {
  color: #a2c11c;
  background-color: black;
}

.description {
  display: flex;
  width: 80%;
  height: 40%;
  flex-direction: column;
  justify-content: space-between;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  font-size: 40px;
  color: white;
  text-shadow: 3px 1px 3px black;
}

#teaser-direct {
  width: 200px;
  height: 50px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  color: #a2c11c;
  background-color: #283739;
  border: 4px solid #a2c11c;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}
#teaser-direct :hover {
  background-color: #a2c11c;
  color: #283739;
}

@keyframes slideIn {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}

#teaser-direct:hover {
  background-size: 200% 100%;
  background-image: linear-gradient(to top, green, #283739);
  animation: slideIn 1s forwards;
}

/* section style */
/* about article */
#about {
  margin-top: 50px;
  gap: 10px;
  display: grid;
  grid-template-columns: 1fr 1024px 1fr;
  grid-template-areas: " a b c";
}
.section-heading {
  color: var(--accent-color);
  font-family: --secondFont;
  text-shadow: 3px 1px 3px black;
  font-size: 100px;
}
.wrapper-section {
  grid-area: b;
  text-align: center;
  padding: 20px;
}

/* article comtent */
.grid-container {
  display: grid;
  width: 100%;
  border-radius: 20px;
  font-family: --firstFont;
  box-shadow: 20 10px 8px #e0e0e0;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 104px 300px 104px;
  grid-template-areas:
    "a a ."
    "b b c"
    "b b .";
}
#subhead-about {
  grid-area: a;
  text-align: start;
  padding: 25px;
  text-decoration: underline 3px solid #2c5d63;
}
#section-img {
  grid-area: c;
  padding: 10px;
  border-left: 5px solid #2c5d63;
}
#about-des {
  grid-area: b;
  padding: 20px;
}

/* style Card content */
.card-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
#about-card1,
#about-card2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: --firstFont;
  justify-content: space-between;
  background-color: #283739;
  color: #e0e0e0;
  width: 450px;
  height: 600px;
  padding: 20px;
  margin: 10px;
  box-sizing: border-box;
}

#about-card1 h2,
#about-card2 h2 {
  margin-bottom: 10px;
}

#about-card1 img,
#about-card2 img {
  width: 100%;
  height: 50%;
  margin-bottom: 10px;
}

#about-card1 #vision-desc,
#about-card2 #vision-desc {
  flex-grow: 1;
}

#about-card2 ul {
  text-align: start;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#about-card2 ul li {
  margin-bottom: 5px;
}

/* section Programs */
#programs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 1000px;
  text-align: center;
  font-family: --firstFont;
  background-color: var(--light-bg);
}
.programs.overview {
  font-family: --secondFont;
  text-shadow: 3px 1px 3px var(--light-bg);
  font-size: 3em;
  margin-bottom: 20px;
}
.programs-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #a2c11c;
  font-size: larger;
  background-color: var(--primary-bg);
  border: 5px solid var(--accent-color);
  border-radius: 20px;
  margin-top: 40px;
  width: 70%;
  height: 600px;
  padding: 20px;
}
.grid-container2 {
  display: grid;
  width: 100%;
  border-radius: 20px;
  font-family: --firstFont;
  box-shadow: 20 10px 8px #e0e0e0;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 100px 250px 250px;
  gap: 10px;
  grid-template-areas:
    "e e"
    "a b"
    "c d";
}
.programs-des {
  grid-area: e;
}
.program-card1 {
  grid-area: a;
  color: var(--light-bg);
  background-color: var(--secondary-bg);
  border-radius: 15px;
  transition: border 0.3s ease-in-out;
}
.program-card1:hover {
  border: 3px solid white;
  border-radius: 10px;
}

.program-card2 {
  grid-area: b;
  color: var(--light-bg);
  background-color: var(--secondary-bg);
  transition: border 0.3s ease-in-out;
}
.program-card2:hover {
  border: 3px solid white;
  border-radius: 10px;
}

.program-card3 {
  grid-area: c;
  color: var(--light-bg);
  background-color: var(--secondary-bg);
  transition: border 0.3s ease-in-out;
}
.program-card3:hover {
  border: 3px solid white;
  border-radius: 10px;
}
.program-card4 {
  grid-area: d;
  color: var(--light-bg);
  background-color: var(--secondary-bg);
  transition: border 0.3s ease-in-out;
}
.program-card4:hover {
  border: 3px solid white;
  border-radius: 10px;
}

/* animation for program-card */
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-5px);
  }
  40% {
    transform: translateX(5px);
  }
  60% {
    transform: translateX(-5px);
  }
  80% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
.hiks:hover {
  animation: shake 0.5s ease-in-out;
}
/* section qualification */
#qualification {
  border: 5px solid orange;
}
#our-team {
  background-color: var(--secondary-bg);
  border: 5px solid aqua;
  background-image: url(assets/Design\ community-bro.svg);
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: 0 50%;
}

.team-card {
  display: flex;
  background-color: beige;
  color: black;
  flex-direction: column-reverse;
  width: 250px;
  height: auto;
  gap: 10px;
  padding: 30px;
  box-shadow: 0px 8px 5px 0 rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
.team-card > p {
  padding-bottom: 4px;
  margin: 0%;
  border-bottom: 0.1rem solid black;
}
.team-card > img {
  width: 100%;
  height: auto;
}

#pricingplan {
  /* not yet coded */
}

/* Pricing Section Styles */
#pricingplan {
  background-color: var(--primary-bg);
  color: white;
  padding: 50px 0;
  text-align: center;
}

.pricing-wrapper {
  display: flex;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
}

.pricing-list {
  font-size: 2em;
  margin-bottom: 30px;
}

.pricing-card {
  background-color: var(--secondary-bg);
  color: white;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  width: 300px;
  box-sizing: border-box;
  transition: hover 5s ease-in-out;
}
.pricing-card:hover {
  border: 10px solid #a2c11c;
}

.pricing-card img {
  width: 50px;
  height: 50px;
}

.list-container {
  margin: 15px 0;
}

.list-container ul {
  list-style-type: none;
  padding: 0;
}

.list-container li {
  margin-bottom: 5px;
}

.price-tag {
  margin-top: 20px;
}

.price-tag p {
  margin: 5px 0;
}
