* {
  margin: 0%;
}

@font-face {
  font-family: --firstfont;
  src: url(assets/font/VarelaRound-Regular.woff);
}
@font-face {
  font-family: --secondfont;
  src: url(assets/font/Almarai-Regular.woff);
}
@font-face {
  font-family: --secondBold;
  src: url(assets/font/Almarai-Bold.woff);
}
@font-face {
  font-family: --secondLigth;
  src: url(assets/font/Almarai-Light.woff);
}

/* Navbar style */
nav {
  display: flex;
  align-items: center;
  margin: 0% auto;
  padding-left: 10px;
  overflow: hidden;
  background-color: #e0e0e0;
  /* Dropdown style */
  .navhead {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .dropdown {
    float: left;
    overflow: hidden;
    list-style: none;
    /* Dropdown button style */
    .dropbtn {
      height: auto;
      font-family: --secondFont;
      font-size: larger;
      color: black;
      background-color: inherit;
      border: none;
      outline: none;
      margin: 0%;
      cursor: pointer;
    }
    .list-container {
      width: 250px;
      padding: 10px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      color: white;
    }
    /* Dropdown content style */
    .drop-content {
      display: none;
      position: absolute;
      list-style: none;
      background-color: rgba(255, 255, 255, 0.445);
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 0;

      /* Dropdown list item hover style */
      li a {
        border: 2px solid black;
        width: 100%;
        height: 5px;
        &:hover {
          display: block;
          color: white;
        }
      }
    }

    /* dropdown on hover */
    &:hover .drop-content {
      color: white;
      padding: 10px;
      border-radius: 10px;
      display: block;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      gap: 10px;
    }
    .list-container:hover {
      color: white;
      border-bottom: 3px solid red;
    }
  }
}

#navbar-brand {
  font-family: --secondBold;
  color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#signup {
  font-family: --secondBold;
  font-size: medium;
  background-color: black;
  color: white;
  border-radius: 5px;
  width: 100px;
  height: 40px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
#signup:hover {
  background-color: white;
  color: black;
}
.member {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding-right: 5vw;
  gap: 15px;
}
.navlist {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 800px;
  list-style: none;
}
a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  font-family: --secondfont;
}

/* Banner style */
.hero-banner {
  display: flex;
  justify-content: start;
  align-items: center;
  width: auto;
  height: 1000px;
  background-image: url(assets/avatar4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.grid-container {
  margin: 20px;
  width: 800px;
  display: grid;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  text-shadow: 3px 1px 3px black;
  grid-template-rows: repeat(2, 1fr);
}
